USE [master]
GO
/****** Object:  Database [XSpy]    Script Date: 6/27/2019 2:36:11 AM ******/
CREATE DATABASE [XSpy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XSpy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\XSpy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XSpy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\XSpy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XSpy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XSpy]
GO
USE [XSpy]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/27/2019 2:36:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[Address] [nvarchar](250) NULL,
	[PostalCode] [int] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[ImageFileName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NurseRegsitration]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NurseRegsitration](
	[Id] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Address] [nvarchar](250) NULL,
	[Contact] [nvarchar](max) NULL,
	[photo] [nvarchar](200) NULL,
	[NursingId] [nvarchar](50) NULL,
	[PCCfile] [nvarchar](200) NULL,
	[Province] [nvarchar](50) NULL,
 CONSTRAINT [PK_NurseRegsitration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NULL,
	[SessionId] [nvarchar](128) NULL,
	[OrderStatusId] [int] NULL,
	[DateOfSession] [datetime] NULL,
	[DateOfOrder] [datetime] NULL,
	[DateOfShipping] [datetime] NULL,
	[TransactionId] [int] NULL,
	[Notes] [nvarchar](255) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[DeliveryAddress] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[CardOwner] [nvarchar](50) NULL,
	[CardType] [nvarchar](20) NULL,
	[ExpiryDate] [datetime] NULL,
	[Bought] [bit] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusId] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Premium]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Premium](
	[PremiumId] [int] IDENTITY(1,1) NOT NULL,
	[PremiumTypeId] [int] NULL,
	[DateOfBuy] [datetime] NULL,
	[DateOfExpire] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Premium] PRIMARY KEY CLUSTERED 
(
	[PremiumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PremiumTypes]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PremiumTypes](
	[PremiumTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PremiumType] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Image] [varchar](256) NULL,
 CONSTRAINT [PK_PremiumTypes] PRIMARY KEY CLUSTERED 
(
	[PremiumTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [nvarchar](20) NOT NULL,
	[CategoryId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[UnitCost] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[ImageFileName] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[pccImage] [nvarchar](max) NULL,
	[IdImage] [nvarchar](max) NULL,
	[FirstAidImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempCart]    Script Date: 6/27/2019 2:36:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [nvarchar](50) NULL,
	[ProductName] [nvarchar](50) NULL,
	[UserId] [nvarchar](450) NULL,
	[ProductCount] [int] NULL,
 CONSTRAINT [PK_TempCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'2.0.1-rtm-125')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'1', NULL, N'Admin', N'Administrator')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'2', NULL, N'User', N'User')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'3', NULL, N'Gold', N'Gold')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4904b6c9-87fd-4435-b147-82886d3b42f0', N'4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6252267b-cc87-4647-ae55-7b820e7ad2c4', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7bbe9340-b71b-42a2-9323-e49e7e56e5b1', N'4')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ImageFileName]) VALUES (14, N'Northland', N'NORTHLAND.jpg')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ImageFileName]) VALUES (15, N'Auckland', N'Auckland.jpg')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ImageFileName]) VALUES (16, N'Waikato', N'WAIKATO.jpg')
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [Username], [SessionId], [OrderStatusId], [DateOfSession], [DateOfOrder], [DateOfShipping], [TransactionId], [Notes], [CustomerName], [DeliveryAddress], [Phone], [EmailAddress], [CardOwner], [CardType], [ExpiryDate], [Bought]) VALUES (1158, NULL, N'3gx1yz452i34mzm34gljubnr', 0, CAST(N'2008-07-05T16:30:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Orders] ([OrderId], [Username], [SessionId], [OrderStatusId], [DateOfSession], [DateOfOrder], [DateOfShipping], [TransactionId], [Notes], [CustomerName], [DeliveryAddress], [Phone], [EmailAddress], [CardOwner], [CardType], [ExpiryDate], [Bought]) VALUES (1159, NULL, N'k4q4pejkru3ozk3rd3ylv355', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Orders] ([OrderId], [Username], [SessionId], [OrderStatusId], [DateOfSession], [DateOfOrder], [DateOfShipping], [TransactionId], [Notes], [CustomerName], [DeliveryAddress], [Phone], [EmailAddress], [CardOwner], [CardType], [ExpiryDate], [Bought]) VALUES (1160, NULL, N'w1gmbifw01kqviqzm12nw245', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[OrderStatus] ([OrderStatusId], [Description]) VALUES (0, N'New Empty Order')
INSERT [dbo].[OrderStatus] ([OrderStatusId], [Description]) VALUES (1, N'Being Assembled - in shopping cart')
INSERT [dbo].[OrderStatus] ([OrderStatusId], [Description]) VALUES (2, N'User confirms and Credit Card checks out Ok')
SET IDENTITY_INSERT [dbo].[Premium] ON 

INSERT [dbo].[Premium] ([PremiumId], [PremiumTypeId], [DateOfBuy], [DateOfExpire], [IsActive], [UserId]) VALUES (31, 1, CAST(N'2018-09-10T12:55:03.820' AS DateTime), CAST(N'2019-09-10T12:55:03.820' AS DateTime), 1, N'ecdc1b7d-2cb9-4252-bef5-31054cb8bebe')
INSERT [dbo].[Premium] ([PremiumId], [PremiumTypeId], [DateOfBuy], [DateOfExpire], [IsActive], [UserId]) VALUES (32, 1, CAST(N'2018-09-11T13:44:10.790' AS DateTime), CAST(N'2019-09-11T13:44:10.790' AS DateTime), 0, N'3e8e557a-04ab-4052-afb1-480883b58169')
INSERT [dbo].[Premium] ([PremiumId], [PremiumTypeId], [DateOfBuy], [DateOfExpire], [IsActive], [UserId]) VALUES (33, 2, CAST(N'2018-09-11T14:16:21.680' AS DateTime), CAST(N'2019-09-11T14:16:21.680' AS DateTime), 0, N'3e8e557a-04ab-4052-afb1-480883b58169')
SET IDENTITY_INSERT [dbo].[Premium] OFF
SET IDENTITY_INSERT [dbo].[PremiumTypes] ON 

INSERT [dbo].[PremiumTypes] ([PremiumTypeId], [PremiumType], [Price], [Image]) VALUES (1, N'Gold', CAST(350.00 AS Decimal(18, 2)), N'Gold.png')
INSERT [dbo].[PremiumTypes] ([PremiumTypeId], [PremiumType], [Price], [Image]) VALUES (2, N'Silver', CAST(200.00 AS Decimal(18, 2)), N'Silver.png')
SET IDENTITY_INSERT [dbo].[PremiumTypes] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductId], [CategoryId], [Name], [UnitCost], [Description], [ImageFileName], [Password], [pccImage], [IdImage], [FirstAidImage]) VALUES (1, N'rrt@rrt.com', 14, N'rrt', 11, N'this is arpit nurse edited version', N'a97aa63b7c90483d9109e9b50a4c6e69.jpg', N'rrt', N'124bbf2654ad47299e4a419f43f397dd.jpg', N'b52db87f84fe43c7bc258d5faf4bbdf1.jpg', N'1bca9d50da9840129c0e6384edea9358.jpg')
INSERT [dbo].[Products] ([Id], [ProductId], [CategoryId], [Name], [UnitCost], [Description], [ImageFileName], [Password], [pccImage], [IdImage], [FirstAidImage]) VALUES (2, N'1111@11.com', 15, N'1111', 45, N'rtrbfgvdf', N'01b9c35284424d03811f5a33c34d7aba.jpg', N'111', N'660bb1563b0f42658fbaa4ad4b20770d.jpg', N'f71c5fe2ec434818a58bd4fc8e87eb3d.jpg', N'3ea46ace7e004e4ab24123d202610e33.jpg')
INSERT [dbo].[Products] ([Id], [ProductId], [CategoryId], [Name], [UnitCost], [Description], [ImageFileName], [Password], [pccImage], [IdImage], [FirstAidImage]) VALUES (3, N'pp@pp.com', 14, N'pp', 10, N'this is arpit nurse', N'5ee23e423fe84410a370125ed238bb26.jpg', N'rrr', N'2c443936725744248130964e9a61e661.jpg', N'73b574aaa585458c98ff895530c33306.jpg', N'97c39d30c57e4283993d43e1aae895c9.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[TempCart] ON 

INSERT [dbo].[TempCart] ([Id], [ProductId], [ProductName], [UserId], [ProductCount]) VALUES (1, N'NTMBS1', N'Multi-Purpose Rubber Band', N'3e8e557a-04ab-4052-afb1-480883b58169', NULL)
INSERT [dbo].[TempCart] ([Id], [ProductId], [ProductName], [UserId], [ProductCount]) VALUES (2, N'NTMBS1', N'Multi-Purpose Rubber Band', N'3e8e557a-04ab-4052-afb1-480883b58169', NULL)
SET IDENTITY_INSERT [dbo].[TempCart] OFF
ALTER TABLE [dbo].[Premium] ADD  CONSTRAINT [DF_Premium_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatus] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatus]
GO
ALTER TABLE [dbo].[Premium]  WITH CHECK ADD  CONSTRAINT [FK_Premium_Premium] FOREIGN KEY([PremiumId])
REFERENCES [dbo].[Premium] ([PremiumId])
GO
ALTER TABLE [dbo].[Premium] CHECK CONSTRAINT [FK_Premium_Premium]
GO
ALTER TABLE [dbo].[Premium]  WITH CHECK ADD  CONSTRAINT [FK_PremiumType] FOREIGN KEY([PremiumTypeId])
REFERENCES [dbo].[PremiumTypes] ([PremiumTypeId])
GO
ALTER TABLE [dbo].[Premium] CHECK CONSTRAINT [FK_PremiumType]
GO
USE [master]
GO
