@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<script src="~/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "textarea",
        plugins: "link lists table image"
    });
</script>
@if (User.IsInRole("Admin"))
{
    <textarea>This is a new venture. Still in progress.</textarea>
}
else
{
    <p>This is a new venture. Still in progress.</p>
}



